body{
    background-image: url("R.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.grid-container{
    display:grid;
}
.grid-1{
    background-image: url("Simple\ Shiny.svg");
    padding: 17%;
    grid-area: header;
}
.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: static;  
}
#header {
    padding: 150px;
    height: 100px;
    border-radius: 75px;

}
#Typing{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 6.5s steps(40,end), blink-caret .75s step-end infinite;   
}
@keyframes typing{
    from{ width: 0;}
    to{width: 100%;}
}
@keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: orangered; }
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}  
 
#Cd{
    text-align: center;
}

.nav{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
}
.nav a{
    float: left;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover{
    background-color: #ddd;
    color: black;

}
.nav a.o {
    background-color: #04aa6d;
    color: white;
}

#projects{
    text-align: center;
    background-color: rgb(3, 37, 76);
    padding: 3%;
    margin-bottom: -6.7%;
}
  *{box-sizing:border-box}

  .projects-grid{
      display: flex;
      max-width: 1700px;
      margin: auto;
  }
  .project-section{
    background-image: url("R.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
  }
  #skills{
      text-align: center;
      margin-top: 7%;
  }

.video-section{
    background-color: rgb(3, 37, 76);
      width: 100%;
}
  video{
      margin-left: auto;
      margin-right: auto;
      display: block;
      
  }
  #Aniamtion{
      text-align: center;
  }
  @media only screen and (min-width: 100px)  {
    video{
        width: 480px;
        height: 360px;;
    }
    
  }
  @media only screen and (min-width: 768px) {
      video{
          width: 640px;
          height: 480px;
      }
      
  }
  @media only screen and (min-width: 992px){
      video{
          width: 720px;
          height: 420px;
      }
  }
  #services{
      background-color: rgb(3, 37, 76);
      width: 100%;
  }
  .service-box {
    color: rgb(3, 37, 76);
    background-color: rgb(255, 255, 255);
    padding: 2.5rem 1.3rem;
    border-radius: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    border: solid;
    border-color: rgb(0, 153, 255);
  }
  
  .service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
  }
  
  .service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 0;
  }
  #work{
      background-color:rgb(3, 37, 76) ;
      width: 100%;
     
  }
  .work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color:  #4D516D ;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 0.1rem;
    padding: 5%;
  }
  
  .work-box:hover img {
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  .work-content {
    padding: 2rem 3% 1rem 4%;
  }
  
  .work-content .w-more {
    color: rgb(78, 78, 78);
    font-size: .8rem;
  }
  
  .work-content .w-more .w-ctegory {
    color: rgb(255, 255, 255);
  }
  
  .work-content .w-like .num-like {
    font-size: .7rem;
  }
  
  .w-title {
    font-size: 1.2rem;
  }
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(0, 120, 255);
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  #ED{
      margin-top: 200px;
      background-color: rgb(64, 224, 208);
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
  }

  .BOX{
    text-align: center;
    background-color: rgb(0, 120, 255);
    width: 100%;
    margin-right: 50%;
    color: rgb(255, 255, 255);
  }
  #picture{
    border-radius: 75px;
  }
  #pic{
    border-radius: 75px;
    width: 100px;
  }
  html{
    width:100%;
    margin:0
  }


  